; ^{:hot-reload-cljs false}
;:open-url "http://[[server-hostname]]:[[server-port]]"
^{:ring-handler figmain1.server/handler
  :css-dirs ["resources/public/css"]
  :open-url false
  :watch-dirs ["src"]
  :reload-clj-files [:cljc :clj]
  :connect-url "ws://localhost:9500/figwheel-connect"
  
  ; :connect-url "ws://[[config-hostname]]:[[server-port]]/figwheel-connect"
  ; :ring-server-options {:port 4000
  ;                       :host "localhost"}
  }
{:main figmain1.core
 :asset-path "cljs-out/dev"
 :preloads
 [figwheel.core
  figwheel.main
  figwheel.repl.preload
  devtools.preload
  figwheel.main.css-reload]
 :closure-defines
 {
  figmain1.core/some-val 4}
 :recompile-dependents false
 }