; ^{:hot-reload-cljs false}
;:open-url "http://[[server-hostname]]:[[server-port]]"
^{; :ring-handler figmain1.server/handler
  ; :css-dirs ["resources/public/css"]
  ; :open-url false
  :watch-dirs ["src/node" ]
  ; :reload-clj-files [:cljc :clj]
  ; :connect-url "ws://localhost:9500/figwheel-connect"

  ; :connect-url "ws://[[config-hostname]]:[[server-port]]/figwheel-connect"
  ; :ring-server-options {:port 4000
  ;                       :host "localhost"
  }
{
 :target :nodejs
;  :output-to "app/main.js"
 :main main.core}