; ^{:hot-reload-cljs false}
;:open-url "http://[[server-hostname]]:[[server-port]]"
^{; :ring-handler figmain1.server/handler
  ; :css-dirs ["resources/public/css"]
  ; :open-url false
  :watch-dirs ["src/browser"] 
  ; :reload-clj-files [:cljc :clj]
  ; :connect-url "ws://localhost:9500/figwheel-connect"

  ; :connect-url "ws://[[config-hostname]]:[[server-port]]/figwheel-connect"
  ; :ring-server-options {:port 4000
  ;                       :host "localhost"
  }
{
;  :output-dir "app/js"
 :main renderer.core
 :asset-path "../target/public/cljs-out/renderer"
 
 }